:root {
  /**
   * Card dimensions
   */
  --width-portrait-card: var(--ni-132);
  --height-portrait-card: var(--ni-238);
  --height-portrait-card-cover: var(--ni-198);

  --width-landscape-card: var(--ni-200);
  --height-landscape-card: var(--ni-152);
  --height-landscape-card-cover: var(--ni-112);

  --width-person-card: var(--ni-120);
  --height-person-card: var(--ni-216);
  --height-person-card-cover: var(--ni-176);

  --width-summary-card: 100%;
  --height-summary-card: var(--ni-188);
  --height-summary-card-cover: var(--ni-148);

  --width-list-card: var(--ni-480);
  --height-list-card: var(--ni-256);

  --width-comment-card: var(--ni-480);
  --height-comment-card: var(--ni-228);

  --width-comment-thread-card: min(var(--width-comment-card), 85vw);
  --height-comment-thread-card: var(--ni-480);

  /**
   * List dimensions
   */
  --height-landscape-list: calc(
    var(--height-landscape-card) + var(--layout-scrollbar-width)
  );
  --height-person-list: calc(
    var(--height-person-card) + var(--layout-scrollbar-width)
  );
  --height-poster-list: calc(
    var(--height-portrait-card) + var(--layout-scrollbar-width)
  );
  --height-lists-list: calc(
    var(--height-list-card) + var(--layout-scrollbar-width)
      + var(--layout-footer-less-padding)
  );
  --height-comments-list: calc(
    var(--height-comment-card) + var(--layout-scrollbar-width)
      + var(--layout-footer-less-padding)
  );
  --height-comment-thread-list: calc(
    var(--height-comment-thread-card) + var(--layout-scrollbar-width)
  );

  /**
   * Structural variables
   */
  --navbar-side-padding: var(--ni-16);
  --navbar-height: var(--ni-72);

  --layout-distance-side: var(--ni-24);
  --layout-scrollbar-width: var(--ni-8);
  --layout-footer-less-padding: var(--ni-16);
}
