:root {
  /**
   * Card dimensions
   */
  --height-card-footer: var(--ni-40);

  --width-portrait-card: var(--ni-132);
  --height-portrait-card-cover: var(--ni-198);
  --height-portrait-card: calc(
    var(--height-portrait-card-cover) + var(--height-card-footer)
  );

  --width-landscape-card: var(--ni-200);
  --height-landscape-card-cover: var(--ni-112);
  --height-landscape-card: calc(
    var(--height-landscape-card-cover) + var(--height-card-footer)
  );

  --width-person-card: var(--ni-120);
  --height-person-card-cover: var(--ni-176);
  --height-person-card: calc(
    var(--height-person-card-cover) + var(--height-card-footer)
  );

  --width-summary-card: 100%;
  --height-summary-card-cover: var(--ni-132);
  --height-summary-card: var(--height-summary-card-cover);

  --width-list-card: var(--ni-480);
  --height-list-card: var(--ni-256);

  --width-comment-card: min(var(--ni-480), 85vw);
  --height-comment-card: var(--ni-228);

  --width-comment-thread-card: var(--width-comment-card);
  --height-comment-thread-card: var(--ni-480);

  --width-toast-card: var(--ni-104);
  --height-toast-card: var(--ni-80);

  --width-cta-landscape-card: var(--width-landscape-card);
  --height-cta-landscape-card: var(--height-landscape-card);
  --height-cta-landscape-card-cover: var(--height-landscape-card-cover);

  --width-cta-portrait-card: var(--width-portrait-card);
  --height-cta-portrait-card: var(--height-portrait-card);
  --height-cta-portrait-card-cover: var(--height-portrait-card-cover);

  --width-cta-activity-card: var(--ni-340);
  --height-cta-activity-card: var(--height-landscape-card-cover);

  --width-cta-list-placeholder-card: calc(
    100dvw - 2 * var(--layout-distance-side) - var(--layout-sidebar-distance)
  );

  --width-profile-item: var(--ni-80);
  --height-profile-item: var(--ni-96);

  /**
   * List dimensions
   */
  --height-landscape-list: calc(
    var(--height-landscape-card) + var(--layout-scrollbar-width)
  );
  --height-person-list: calc(
    var(--height-person-card) + var(--layout-scrollbar-width)
  );
  --height-poster-list: calc(
    var(--height-portrait-card) + var(--layout-scrollbar-width)
  );
  --height-lists-list: calc(
    var(--height-list-card) + var(--layout-scrollbar-width)
      + var(--layout-footer-less-padding)
  );
  --height-comments-list: calc(
    var(--height-comment-card) + var(--layout-scrollbar-width)
      + var(--layout-footer-less-padding)
  );
  --height-comment-thread-list: calc(
    var(--height-comment-thread-card) + var(--layout-scrollbar-width)
      + var(--layout-footer-less-padding)
  );
  --height-profile-list: calc(
    var(--height-profile-item) + var(--layout-scrollbar-width)
  );

  /**
   * Structural variables
   */
  --navbar-side-padding: var(--ni-16);
  --navbar-height: var(--ni-72);
  --side-navbar-width: var(--ni-66);
  --mobile-navbar-height: calc(var(--ni-56) + env(safe-area-inset-bottom, 0));
  --footer-bar-padding: var(--ni-40);

  --layout-scrollbar-width: var(--ni-8);
  --layout-footer-less-padding: var(--ni-16);

  --list-header-gap: var(--gap-s);

  @-moz-document url-prefix() {
    --layout-scrollbar-width: var(--ni-16);
  }
}
