# macOS
.DS_Store

test-results
node_modules

# Output
.output
.vercel
.svelte-kit
build
projects/client/i18n/messages
projects/client/i18n/android
projects/client/i18n/ios

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cloudflare Pages
.wrangler

# Vitest
coverage
