:root {
  /**
   * Global variables independent of theme
   */

  /**
   * Badge
   */
  --color-background-vip-border: var(--red-500);
  --color-background-vip-badge: var(--red-500);
  --color-foreground-vip-badge: var(--shade-10);

  /**
   * Tags
   */
  --color-background-stem-tag: var(--shade-800);
  --color-foreground-stem-tag: var(--shade-10);

  --color-text-progress-tag: var(--shade-10);
  --color-background-progress-tag: var(--shade-930);
  --color-background-cover-tag: color-mix(
    in srgb,
    var(--shade-700) 75%,
    transparent
  );

  --color-text-watch-count-tag: var(--shade-10);
  --color-background-watch-count-tag: var(--purple-500);

  --color-text-trend-tag: var(--shade-10);
  --color-background-trend-neutral-background-tag: var(--shade-500);
  --color-background-trend-down-background-tag: var(--red-700);
  --color-background-trend-up-background-tag: var(--green-700);

  --color-text-preview-tag: var(--shade-10);
  --color-background-preview-tag: var(--orange-600);

  --color-text-indicator-tag: var(--shade-10);
  --color-background-indicator-tag: var(--shade-800);

  /**
   * Avatar
   */
  --color-border-avatar: var(--shade-50);
  --color-border-vip-avatar: var(--red-500);

  /**
   * Buttons
   */
  --color-background-purple: var(--purple-500);
  --color-foreground-purple: var(--purple-50);
  --color-background-purple-hover: var(--purple-700);

  --color-background-red: var(--red-500);
  --color-foreground-red: var(--red-50);
  --color-background-red-hover: var(--red-700);

  --color-background-blue: var(--blue-700);
  --color-foreground-blue: var(--blue-50);
  --color-background-blue-hover: var(--blue-800);

  --color-background-default: var(--shade-700);
  --color-foreground-default: var(--shade-50);
  --color-background-default-hover: var(--shade-500);

  --color-background-orange: var(--orange-600);
  --color-foreground-orange: var(--orange-100);
  --color-background-orange-hover: var(--orange-800);

  /**
   * Toggle switches
   */
  --color-tick-purple: var(--purple-500);
  --color-switch-foreground-purple: var(--purple-50);
  --color-switch-background-purple: var(--purple-800);

  --color-tick-red: var(--red-500);
  --color-switch-foreground-red: var(--red-50);
  --color-switch-background-red: var(--red-800);

  --color-tick-blue: var(--blue-500);
  --color-switch-foreground-blue: var(--blue-50);
  --color-switch-background-blue: var(--blue-800);

  --color-tick-default: var(--shade-500);
  --color-switch-foreground-default: var(--shade-50);
  --color-switch-background-default: var(--shade-800);

  --color-tick-orange: var(--orange-500);
  --color-switch-foreground-orange: var(--orange-50);
  --color-switch-background-orange: var(--orange-800);

  /**
   * Poster overlay
   */
  --color-overlay-foreground: var(--shade-10);

  /**
   * Ratings
   */
  --color-ratings-trakt: var(--purple-500);
}
