// Define theme variables for light mode
@mixin light-theme {
  /**
   * Theme-able variables
   */
  --color-shadow: var(--shade-800);

  --color-foreground: var(--shade-920);
  --color-background: var(--shade-10);

  --color-text-primary: var(--shade-800);
  --color-text-secondary: var(--shade-500);

  /**
   * Navbar
   */
  --color-background-navbar: color-mix(in srgb,
      var(--shade-50) 80%,
      transparent);
  --color-foreground-navbar: var(--color-foreground);
  --color-search-input-border: var(--shade-300);

  /*
   * Card
   */
  --color-card-background: var(--shade-10);
  --card-shadow: linear-gradient(180deg,
      transparent 0%,
      color-mix(in srgb,
        var(--color-card-background) 7%,
        color-mix(in srgb, var(--color-shadow) 7%, transparent 93%)) 13%,
      color-mix(in srgb,
        var(--color-card-background) 18%,
        color-mix(in srgb, var(--color-shadow) 18%, transparent 82%)) 24%,
      color-mix(in srgb,
        var(--color-card-background) 29%,
        color-mix(in srgb, var(--color-shadow) 29%, transparent 71%)) 34%,
      color-mix(in srgb,
        var(--color-card-background) 43%,
        color-mix(in srgb, var(--color-shadow) 43%, transparent 57%)) 46%,
      color-mix(in srgb,
        var(--color-card-background) 62%,
        color-mix(in srgb, var(--color-shadow) 62%, transparent 38%)) 63%,
      color-mix(in srgb,
        var(--color-card-background) 86%,
        color-mix(in srgb, var(--color-shadow) 86%, transparent 14%)) 86%,
      var(--color-card-background) 100%);

  /*
   * List
   */
  --list-shadow-width: var(--ni-56);
  --list-shadow: radial-gradient(50% 50% at 50% 50%,
      color-mix(in srgb, var(--color-shadow) 86%, transparent) 0%,
      color-mix(in srgb, var(--color-shadow) 62%, transparent) 24%,
      color-mix(in srgb, var(--color-shadow) 43%, transparent) 34%,
      color-mix(in srgb, var(--color-shadow) 29%, transparent) 46%,
      color-mix(in srgb, var(--color-shadow) 18%, transparent) 63%,
      color-mix(in srgb, var(--color-shadow) 7%, transparent) 86%,
      transparent 100%);

  /*
   * Button
   */
  --color-surface-button-disabled: var(--shade-200);
  --color-foreground-button-disabled: var(--shade-600);

  /*
   * Link
   */
  --color-link-active: var(--purple-700);

  /*
   * Navbar
   */
  --color-background-mobile-navbar: color-mix(in srgb,
      var(--shade-30) 90%,
      transparent 10%);

  /*
   * Tooltip
   */
  --color-tooltip-background: var(--shade-10);
  --color-tooltip-text: var(--shade-800);

  /*
   * Tags
   */
  --color-text-time-tag: var(--shade-10);
  --color-background-time-tag: var(--shade-800);

  --color-text-duration-tag: var(--shade-10);
  --color-background-duration-tag: var(--shade-800);

  /*
  * Overrides
  */
  .background-cover-image,
  .trakt-cover-image {
    filter: grayscale(1);
  }

  .trakt-cover-image {
    opacity: 0.25;
  }
}

// Define theme variables for dark mode
@mixin dark-theme {
  --color-shadow: var(--shade-940);

  --color-foreground: var(--shade-10);
  --color-background: var(--shade-940);

  --color-text-primary: var(--shade-10);
  --color-text-secondary: var(--shade-300);

  /**
   * Navbar
   */
  --color-background-navbar: color-mix(in srgb,
      var(--shade-920) 90%,
      transparent 10%);
  --color-foreground-navbar: var(--shade-10);
  --color-search-input-border: var(--shade-700);

  /*
   * Card
   */
  --color-card-background: var(--shade-920);
  --card-shadow: linear-gradient(180deg,
      transparent 0%,
      color-mix(in srgb, var(--color-card-background) 7%, transparent 93%) 13%,
      color-mix(in srgb, var(--color-card-background) 18%, transparent 82%) 24%,
      color-mix(in srgb, var(--color-card-background) 29%, transparent 71%) 34%,
      color-mix(in srgb, var(--color-card-background) 43%, transparent 57%) 46%,
      color-mix(in srgb, var(--color-card-background) 62%, transparent 38%) 63%,
      color-mix(in srgb, var(--color-card-background) 86%, transparent 14%) 86%,
      var(--color-card-background) 100%);

  /*
   * List
   */
  --list-shadow-width: var(--ni-96);
  --list-shadow: radial-gradient(50% 50% at 50% 50%,
      color-mix(in srgb, var(--color-shadow) 98%, transparent) 0%,
      color-mix(in srgb, var(--color-shadow) 88%, transparent) 32%,
      color-mix(in srgb, var(--color-shadow) 70%, transparent) 61%,
      color-mix(in srgb, var(--color-shadow) 50%, transparent) 80%,
      transparent 100%);

  /*
   * Button
   */
  --color-surface-button-disabled: var(--shade-800);
  --color-foreground-button-disabled: var(--shade-400);

  /**
   * Link
   */
  --color-link-active: var(--purple-400);

  /*
   * Navbar
   */
  --color-background-mobile-navbar: var(--color-background-navbar);

  /*
   * Tooltip
   */
  --color-tooltip-background: var(--shade-800);
  --color-tooltip-text: var(--shade-10);

  /**
   * Tags
   */
  --color-text-time-tag: var(--shade-800);
  --color-background-time-tag: var(--shade-10);

  --color-text-duration-tag: var(--shade-800);
  --color-background-duration-tag: var(--shade-10);
}

// Apply themes to selectors
[data-theme='light'] {
  @include light-theme();
}

[data-theme='dark'] {
  @include dark-theme();
}

[data-theme='system'] {
  @media (prefers-color-scheme: light) {
    @include light-theme();
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }
}
