@use "$style/scss/mixins/index" as *;

// Define theme variables for light mode
@mixin light-theme {
  /**
   * Theme-able variables
   */
  --color-floating-background: var(--shade-60);
  --color-shadow: var(--shade-800);

  --color-foreground: var(--shade-920);
  --color-background: color-mix(in srgb, var(--shade-300) 80%, var(--purple-50));

  --color-text-primary: var(--shade-900);
  --color-text-secondary: var(--shade-800);
  --color-text-emphasis: var(--purple-700);

  --color-input-background: color-mix(in srgb, var(--shade-20) 25%, transparent);

  --color-drawer-border: var(--shade-400);
  --background-vip-drawer: radial-gradient(ellipse 80% 86% at 7.82% 100%,
      var(--red-50) 0%,
      var(--color-card-background) 100%);

  /**
   * Navbar
   */
  --color-background-navbar-base: var(--color-floating-background);
  --color-background-navbar: color-mix(in srgb,
      var(--color-background-navbar-base) 90%,
      transparent);
  --color-foreground-navbar: var(--color-foreground);
  --color-border: var(--shade-300);
  --color-background-side-navbar: var(--color-background-navbar-base);

  /*
   * Card
   */
  --color-card-background: var(--color-floating-background);
  --color-official-list-background: var(--purple-200);
  --list-poster-shadow: -4px 0px 16px 0px rgba(0, 0, 0, 0.25);

  /*
    * Actions bar
    */
  --color-actions-bar-background: var(--color-floating-background);

  /*
   * Cta
   */
  --color-cta-background-gradient: linear-gradient(258.73deg,
      color-mix(in srgb,
        color-mix(in srgb,
          var(--purple-300) 80%,
          transparent) 80%,
        transparent) 0%,
      var(--shade-100) 53.05%);

  /*
   * List
   */
  --list-shadow: radial-gradient(50% 50% at 50% 50%,
      color-mix(in srgb, var(--color-shadow) 86%, transparent) 0%,
      color-mix(in srgb, var(--color-shadow) 62%, transparent) 24%,
      color-mix(in srgb, var(--color-shadow) 43%, transparent) 34%,
      color-mix(in srgb, var(--color-shadow) 29%, transparent) 46%,
      color-mix(in srgb, var(--color-shadow) 18%, transparent) 63%,
      color-mix(in srgb, var(--color-shadow) 7%, transparent) 86%,
      transparent 100%);
  --list-meta-info-color: var(--purple-700);

  /*
   * Button
   */
  --color-surface-button-disabled: var(--shade-200);
  --color-foreground-button-disabled: var(--shade-600);

  /*
   * Link
   */
  --color-link-active: var(--purple-700);

  /*
   * Navbar
   */
  --color-background-mobile-navbar: color-mix(in srgb, var(--color-background-navbar-base) 90%, transparent);

  /*
   * Tooltip
   */
  --color-tooltip-background: var(--shade-10);
  --color-tooltip-text: var(--shade-800);

  /*
  * Overrides
  */
  .trakt-background-cover-image,
  .trakt-cover-image {
    opacity: 0.75;
  }

  /**
   * Toasts
   */
  --color-toast-background: color-mix(in srgb, var(--shade-100) 70%, transparent 30%);
  --color-toast-border: var(--shade-200);
  --color-toast-progress-bar-background: var(--shade-300);
  --color-toast-progress-bar-progress: var(--shade-500);
  --color-toast-progress-bar-shadow: var(--shade-400);

  /**
   * Cookie
   */
  --color-cookie-background: var(--shade-10);

  /**
   * Reactions
   */
  --color-current-reaction-hover: var(--red-100);
  --color-reaction-disabled-background: var(--shade-300);
  --color-reaction-background: var(--shade-80);
  --color-reaction-background-hover: var(--shade-200);
  --color-current-reaction-background: var(--shade-300);
  --color-reaction-distribution-background: var(--shade-100);


  /**
    * Calendar
    */
  --color-calendar-background: color-mix(in srgb, var(--color-background-navbar-base) 90%, transparent);
  --color-calendar-inactive-background: var(--color-background-navbar-base);
  --color-calendar-active-background: var(--shade-200);
  --color-calendar-background-hover: var(--shade-100);
  --color-calendar-item-indicator: var(--blue-700);

  /*
   * Landing
   */
  --color-step-shadow-text: var(--shade-50);

  /*
   * Toggle
   */
  --toggler-background-color: var(--shade-70);
  --toggler-tracker-color: var(--purple-300);
  --toggle-background-color: var(--shade-100);
  --toggle-background-hover-color: var(--shade-200);
  --toggle-foreground-color: var(--shade-900);

  /*
   * Where to watch
   */
  --streaming-service-logo-filter: brightness(0);
  --color-just-watch: var(--color-text-secondary);

  /*
   * Dialogs & drawers
   */
  --color-drawer-background: color-mix(in srgb, var(--shade-70) 94%, transparent);
  --color-dialog-background: var(--color-drawer-background);

  /*
   * Sentiment
   */
  --color-sentiment-good: var(--purple-700);
  --color-sentiment-bad: var(--red-800);
  --color-sentiment-highlight-border: color-mix(in srgb, var(--shade-800) 10%, transparent);
  --background-sentiment-highlight: linear-gradient(135deg,
    color-mix(in srgb, var(--shade-800) 5%, transparent) 0%,
    color-mix(in srgb, var(--shade-800) 2.5%, transparent) 100%);

  /*
   * VIP page
   */
  --background-vip-page: linear-gradient(180deg, var(--shade-100) 34.13%, var(--red-20) 100%);
  --color-background-subscription-card: var(--shade-70);
  --background-popular-subscription-card: radial-gradient(180112.68% 123.36% at 7.82% 100%, var(--red-50) 0%, var(--shade-70) 100%);
}

// Define theme variables for dark mode
@mixin dark-theme {
  --color-floating-background: var(--shade-930);
  --color-shadow: var(--shade-940);

  --color-foreground: var(--shade-10);
  --color-background: color-mix(in srgb, var(--shade-920) 97%, var(--purple-900));

  --color-text-primary: var(--shade-10);
  --color-text-secondary: var(--shade-300);
  --color-text-emphasis: var(--purple-300);

  --color-input-background: color-mix(in srgb, var(--shade-800) 25%, transparent);

  --color-drawer-border: var(--shade-700);
  --background-vip-drawer: radial-gradient(ellipse 80% 86% at 7.82% 100%,
      var(--red-950) 0%,
      var(--color-card-background) 100%);

  /**
   * Navbar
   */
  --color-background-navbar-base: var(--color-floating-background);
  --color-background-navbar: color-mix(in srgb,
      var(--color-background-navbar-base) 90%,
      transparent);
  --color-foreground-navbar: var(--shade-10);
  --color-border: var(--shade-700);
  --color-background-side-navbar: var(--color-background-navbar-base);

  /*
   * Card
   */
  --color-card-background: var(--color-floating-background);
  --color-official-list-background: var(--purple-800);
  --list-poster-shadow: -8px 0px 16px 0px rgba(0, 0, 0, 0.56);

  /*
    * Actions bar
    */
  --color-actions-bar-background: var(--color-floating-background);

  /*
   * Cta
   */
  --color-cta-background-gradient: linear-gradient(258.73deg,
      color-mix(in srgb,
        color-mix(in srgb,
          var(--purple-500) 80%,
          transparent) 80%,
        transparent) 0%,
      var(--shade-900) 53.05%);

  /*
   * List
   */
  --list-shadow: radial-gradient(50% 50% at 50% 50%,
      color-mix(in srgb, var(--color-shadow) 90%, transparent) 0%,
      color-mix(in srgb, var(--color-shadow) 45%, transparent) 32%,
      color-mix(in srgb, var(--color-shadow) 30%, transparent) 61%,
      color-mix(in srgb, var(--color-shadow) 25%, transparent) 80%,
      transparent 100%);
  --list-meta-info-color: var(--purple-400);

  /*
   * Button
   */
  --color-surface-button-disabled: var(--shade-800);
  --color-foreground-button-disabled: var(--shade-400);

  /**
   * Link
   */
  --color-link-active: var(--purple-400);

  /*
   * Navbar
   */
  --color-background-mobile-navbar: color-mix(in srgb,
      var(--color-background-navbar-base) 80%,
      transparent);

  /*
   * Tooltip
   */
  --color-tooltip-background: var(--shade-800);
  --color-tooltip-text: var(--shade-10);

  /**
   * Tags
   */
  --color-text-time-tag: var(--shade-800);
  --color-background-time-tag: var(--shade-10);

  --color-text-duration-tag: var(--shade-800);
  --color-background-duration-tag: var(--shade-10);

  /**
   * Toasts
   */
  --color-toast-background: color-mix(in srgb, var(--shade-900) 70%, transparent 30%) --color-toast-border: var(--shade-700);
  --color-toast-progress-bar-background: var(--shade-500);
  --color-toast-progress-bar-progress: var(--shade-200);
  --color-toast-progress-bar-shadow: var(--shade-400);

  /**
   * Cookie
   */
  --color-cookie-background: var(--shade-900);

  /**
   * Reactions
   */
  --color-current-reaction-hover: var(--red-50);
  --color-reaction-disabled-background: var(--shade-700);
  --color-reaction-background: var(--shade-800);
  --color-reaction-background-hover: var(--shade-600);
  --color-current-reaction-background: var(--shade-940);
  --color-reaction-distribution-background: var(--shade-700);

  /**
    * Calendar
    */
  --color-calendar-background: color-mix(in srgb,
      var(--color-background-navbar-base) 90%,
      transparent);
  --color-calendar-inactive-background: var(--color-background-navbar-base);
  --color-calendar-active-background: var(--shade-800);
  --color-calendar-background-hover: var(--shade-700);
  --color-calendar-item-indicator: var(--blue-500);

  /*
   * Landing
   */
  --color-step-shadow-text: var(--shade-920);

  /*
   * Toggle
   */
  --toggler-background-color: var(--shade-900);
  --toggler-tracker-color: var(--purple-500);
  --toggle-background-color: var(--shade-700);
  --toggle-background-hover-color: var(--shade-600);
  --toggle-foreground-color: var(--shade-50);

  /*
   * Where to watch
   */
  --streaming-service-logo-filter: brightness(1);
  --color-just-watch: #fcc405;

  /*
   * Dialogs & drawers
   */
  --color-drawer-background: color-mix(in srgb, var(--shade-920) 94%, transparent);
  --color-dialog-background: var(--color-drawer-background);

  /*
   * Sentiment
   */
  --color-sentiment-good: var(--purple-200);
  --color-sentiment-bad: var(--red-100);
  --color-sentiment-highlight-border: color-mix(in srgb, var(--shade-10) 10%, transparent);
  --background-sentiment-highlight: linear-gradient(135deg,
      color-mix(in srgb, var(--shade-10) 5%, transparent) 0%,
      color-mix(in srgb, var(--shade-10) 2.5%, transparent) 100%);

  /*
   * VIP page
   */
  --background-vip-page: linear-gradient(180deg, var(--red-975) 34.13%, var(--shade-1000) 100%);
  --color-background-subscription-card: var(--shade-950);
  --background-popular-subscription-card: radial-gradient(112.68% 123.36% at 7.82% 100%, var(--red-975) 0%, var(--shade-1000) 100%);
}

// Apply themes to selectors
[data-theme='light'] {
  @include light-theme();
}

[data-theme='dark'] {
  @include dark-theme();
}

[data-theme='system'] {
  @media (prefers-color-scheme: light) {
    @include light-theme();
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }
}

// For pages that show OG content in an iframe
[data-theme='light'],
[data-theme='dark'],
[data-theme='system'] {
  &:has(.trakt-og-frame) {
    @include dark-theme();

    --color-background: rgb(24, 23, 29);

    .trakt-background-cover-image {
      display: none;
    }
  }
}

[data-device='tv'] {
  @include dark-theme();
}
