@use "$style/scss/mixins/index" as *;

// Define theme variables for light mode
@mixin light-theme {
  /**
   * Theme-able variables
   */
  --color-shadow: var(--shade-800);

  --color-foreground: var(--shade-920);
  --color-background: var(--shade-10);

  --color-text-primary: var(--shade-800);
  --color-text-secondary: var(--shade-500);

  /**
   * Navbar
   */
  --color-background-navbar-base: var(--shade-50);
  --color-background-navbar: var(--cm-background-navbar-90);
  --color-foreground-navbar: var(--color-foreground);
  --color-border: var(--shade-300);

  /*
   * Card
   */
  --color-card-background: var(--shade-20);
  --color-official-list-background: var(--purple-200);
  --list-poster-shadow: -4px 0px 16px 0px rgba(0, 0, 0, 0.25);

  /*
   * Cta
   */
  --color-cta-background-gradient: linear-gradient(258.73deg,
      color-mix(in srgb,
        var(--cm-gradient-stop-cta-light) 80%,
        transparent) 0%,
      var(--shade-100) 53.05%);

  /*
   * List
   */
  --list-shadow: radial-gradient(50% 50% at 50% 50%,
      var(--cm-shadow-86) 0%,
      var(--cm-shadow-62) 24%,
      var(--cm-shadow-43) 34%,
      var(--cm-shadow-29) 46%,
      var(--cm-shadow-18) 63%,
      var(--cm-shadow-7) 86%,
      transparent 100%);

  /*
   * Button
   */
  --color-surface-button-disabled: var(--shade-200);
  --color-foreground-button-disabled: var(--shade-600);

  /*
   * Link
   */
  --color-link-active: var(--purple-700);

  /*
   * Navbar
   */
  --color-background-mobile-navbar: var(--cm-background-90);

  /*
   * Tooltip
   */
  --color-tooltip-background: var(--shade-10);
  --color-tooltip-text: var(--shade-800);

  /**
   * Sentiments
   */
  --color-text-sentiment-good: var(--purple-700);
  --color-text-sentiment-bad: var(--red-700);

  /*
  * Overrides
  */
  .trakt-background-cover-image,
  .trakt-cover-image {
    opacity: 0.75;
  }

  /**
   * Now playing
   */
  --color-now-playing-background-base: var(--shade-100);
  --color-now-playing-background: var(--cm-background-now-playing);
  --color-now-playing-border: var(--shade-200);
  --color-now-playing-progress-bar-background: var(--shade-300);
  --color-now-playing-progress-bar-progress: var(--shade-500);
  --color-now-playing-progress-bar-shadow: var(--shade-400);

  /**
   * Cookie
   */
  --color-cookie-background: var(--shade-10);

  /**
   * Reactions
   */
  --color-current-reaction-hover: var(--red-100);
  --color-reaction-disabled-background: var(--shade-300);
  --color-reaction-background: var(--shade-80);
  --color-reaction-background-hover: var(--shade-200);
  --color-current-reaction-background: var(--shade-300);
  --color-reaction-distribution-background: var(--shade-100);


  /**
    * Calendar
    */
  --color-calendar-background: var(--cm-background-navbar-90);
  --color-calendar-inactive-background: var(--color-background-navbar-base);
  --color-calendar-active-background: var(--shade-200);
  --color-calendar-background-hover: var(--shade-100);
  --color-calendar-item-indicator: var(--blue-700);

  /*
   * Landing
   */
  --color-step-shadow-text: var(--shade-50);
}

// Define theme variables for dark mode
@mixin dark-theme {
  --color-shadow: var(--shade-940);

  --color-foreground: var(--shade-10);
  --color-background: var(--shade-940);

  --color-text-primary: var(--shade-10);
  --color-text-secondary: var(--shade-300);

  /**
   * Navbar
   */
  --color-background-navbar-base: var(--shade-920);
  --color-background-navbar: var(--cm-background-navbar-90);
  --color-foreground-navbar: var(--shade-10);
  --color-border: var(--shade-700);

  /*
   * Card
   */
  --color-card-background: var(--shade-920);
  --color-official-list-background: var(--purple-800);
  --list-poster-shadow: -8px 0px 16px 0px rgba(0, 0, 0, 0.56);

  /*
   * Cta
   */
  --color-cta-background-gradient: linear-gradient(258.73deg,
      color-mix(in srgb,
        var(--cm-gradient-stop-cta-dark) 80%,
        transparent) 0%,
      var(--shade-900) 53.05%);

  /*
   * List
   */
  --list-shadow: radial-gradient(50% 50% at 50% 50%,
      var(--cm-shadow-90) 0%,
      var(--cm-shadow-45) 32%,
      var(--cm-shadow-30) 61%,
      var(--cm-shadow-25) 80%,
      transparent 100%);

  /*
   * Button
   */
  --color-surface-button-disabled: var(--shade-800);
  --color-foreground-button-disabled: var(--shade-400);

  /**
   * Link
   */
  --color-link-active: var(--purple-400);

  /*
   * Navbar
   */
  --color-background-mobile-navbar: var(--cm-background-navbar-80);

  /*
   * Tooltip
   */
  --color-tooltip-background: var(--shade-800);
  --color-tooltip-text: var(--shade-10);

  /**
   * Tags
   */
  --color-text-time-tag: var(--shade-800);
  --color-background-time-tag: var(--shade-10);

  --color-text-duration-tag: var(--shade-800);
  --color-background-duration-tag: var(--shade-10);

  /**
   * Sentiments
   */
  --color-text-sentiment-good: var(--purple-100);
  --color-text-sentiment-bad: var(--red-100);

  /**
   * Now playing
   */
  --color-now-playing-background-base: var(--shade-900);
  --color-now-playing-background: var(--cm-background-now-playing);
  --color-now-playing-border: var(--shade-700);
  --color-now-playing-progress-bar-background: var(--shade-500);
  --color-now-playing-progress-bar-progress: var(--shade-200);
  --color-now-playing-progress-bar-shadow: var(--shade-400);

  /**
   * Cookie
   */
  --color-cookie-background: var(--shade-900);

  /**
   * Reactions
   */
  --color-current-reaction-hover: var(--red-50);
  --color-reaction-disabled-background: var(--shade-700);
  --color-reaction-background: var(--shade-800);
  --color-reaction-background-hover: var(--shade-600);
  --color-current-reaction-background: var(--shade-940);
  --color-reaction-distribution-background: var(--shade-700);

  /**
    * Calendar
    */
  --color-calendar-background: var(--cm-background-navbar-90);
  --color-calendar-inactive-background: var(--color-background-navbar-base);
  --color-calendar-active-background: var(--shade-800);
  --color-calendar-background-hover: var(--shade-700);
  --color-calendar-item-indicator: var(--blue-500);

  /*
   * Landing
   */
  --color-step-shadow-text: var(--shade-920);
}

// Apply themes to selectors
[data-theme='light'] {
  @include light-theme();
}

[data-theme='dark'] {
  @include dark-theme();
}

[data-theme='system'] {
  @media (prefers-color-scheme: light) {
    @include light-theme();
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme();
  }
}

// For pages that show OG content in an iframe
[data-theme='light'],
[data-theme='dark'],
[data-theme='system'] {
  &:has(.trakt-og-frame) {
    @include dark-theme();

    --color-background: rgb(24, 23, 29);

    .trakt-background-cover-image {
      display: none;
    }
  }
}

[data-device='tv'] {
  @include dark-theme();
}
