h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span.title {
  font-size: var(--font-size-title);
  font-weight: 600;
}

span,
p {
  font-size: var(--font-size-text);
  font-style: normal;
  font-weight: 400;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  &.secondary {
    color: var(--color-text-secondary);
  }

  &.capitalize {
    text-transform: none;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.bold {
    font-weight: 600;
  }

  &.italic {
    font-style: italic;
  }
}
