@use '../variables/index.scss' as *;

@mixin for-mouse {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin for-touch {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin for-tablet-sm {
  @media (min-width: $breakpoint-tablet-sm-min) and (max-width: $breakpoint-tablet-sm-max) {
    @content;
  }
}

@mixin for-tablet-sm-and-below {
  @media (max-width: $breakpoint-tablet-sm-max) {
    @content;
  }
}

@mixin for-tablet-lg {
  @media (min-width: $breakpoint-tablet-lg-min) and (max-width: $breakpoint-tablet-lg-max) {
    @content;
  }
}

@mixin for-tablet-lg-and-below {
  @media (max-width: $breakpoint-tablet-lg-max) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin default-link-style {
  text-decoration-color: var(--color-link-active);

  &,
  &:visited {
    color: var(--color-foreground);
  }

  @include for-mouse {

    &:hover,
    &:focus-visible {
      color: var(--color-link-active);
    }
  }
}

@mixin backdrop-filter-blur($blur) {
  backdrop-filter: blur($blur);

  @-moz-document url-prefix() {
    backdrop-filter: url('#trakt-firefox-blur');
  }
}

@mixin color-mix-variable-with-fallback($variable, $value, $fallback) {
  #{$variable}: $value;

  @supports not (color: color-mix(in srgb, #000 50%, transparent)) {
    #{$variable}: $fallback;
  }
}

@mixin spoiler-blur() {
  --blur-size: calc(var(--ni-2) * 1.5);
  filter: blur(var(--blur-size));
  padding: 0 var(--blur-size);
}

@mixin adaptive-gap($property: gap) {
  #{$property}: var(--gap-s);

  @include for-tablet-lg-and-below {
    #{$property}: var(--gap-xs);
  }

  @include for-mobile {
    #{$property}: var(--gap-xxs);
  }
}

@mixin dynamic-item-count($itemCountVariable, $minCardWidth, $maxItemCount) {
  $calculatedItemCount: round(down, var(--list-inner-width) / ($minCardWidth + var(--list-gap)), 1);

  #{$itemCountVariable}: clamp(1, $calculatedItemCount, $maxItemCount);

  /*
    Firefox does not properly strip units, for now we fall back
    to the max item count and allow users to scroll
  */
  @supports (-moz-appearance: none) {
    #{$itemCountVariable}: $maxItemCount;
  }
}

@mixin dynamic-card-width($widthVariable, $minCardWidth, $itemCount) {
  $listGaps: calc($itemCount * var(--list-gap));
  $listUsableWidth: calc(var(--list-inner-width) - $listGaps);

  #{$widthVariable}: max(calc($listUsableWidth / $itemCount), #{$minCardWidth});

  @include for-tablet-sm-and-below {
    #{$widthVariable}: $minCardWidth;
  }
}
