:root {
  --blue-50: oklch(96.5% 0.0171 245.0);
  --blue-60: oklch(95.0% 0.0246 245.0);
  --blue-70: oklch(93.5% 0.0321 245.0);
  --blue-80: oklch(92.0% 0.0397 245.0);
  --blue-90: oklch(90.0% 0.05 245.0);
  --blue-100: oklch(88.0% 0.0605 245.0);
  --blue-200: oklch(80.0% 0.0853 245.0);
  --blue-300: oklch(73.0% 0.1209 245.0);
  --blue-400: oklch(70.0% 0.1442 245.0);
  --blue-500: oklch(66.0% 0.155 245.0);
  --blue-600: oklch(60.0% 0.1472 245.0);
  --blue-700: oklch(49.0% 0.1185 245.0);
  --blue-800: oklch(40.0% 0.0968 245.0);
  --blue-900: oklch(32.0% 0.0776 245.0);
}
