:root {
  --green-50: oklch(96.5% 0.03 161.0);
  --green-60: oklch(95.0% 0.04 161.0);
  --green-70: oklch(93.5% 0.05 161.0);
  --green-80: oklch(92.0% 0.06 161.0);
  --green-90: oklch(90.5% 0.07 161.0);
  --green-100: oklch(89.0% 0.085 161.0);
  --green-200: oklch(82.0% 0.0781 161.0);
  --green-300: oklch(74.0% 0.1108 161.0);
  --green-400: oklch(69.0% 0.1321 161.0);
  --green-500: oklch(65.0% 0.142 161.0);
  --green-600: oklch(59.0% 0.1262 161.0);
  --green-700: oklch(48.0% 0.1027 161.0);
  --green-800: oklch(40.0% 0.0856 161.0);
  --green-900: oklch(32.0% 0.0686 161.0);
}
