:root {
  --purple-50: oklch(97.0% 0.0196 314.2);
  --purple-60: oklch(95.2% 0.0315 314.2);
  --purple-70: oklch(93.7% 0.0416 314.2);
  --purple-80: oklch(92.2% 0.0519 314.2);
  --purple-90: oklch(90.6% 0.063 314.2);
  --purple-100: oklch(89.0% 0.0742 314.2);
  --purple-200: oklch(81.0% 0.1128 314.2);
  --purple-300: oklch(71.0% 0.1599 314.2);
  --purple-400: oklch(63.5% 0.1906 314.2);
  --purple-500: oklch(56.1% 0.205 314.2);
  --purple-600: oklch(51.0% 0.1947 314.2);
  --purple-700: oklch(43.0% 0.1681 314.2);
  --purple-800: oklch(35.5% 0.1394 314.2);
  --purple-900: oklch(29.0% 0.1128 314.2);
  --purple-950: oklch(19.0% 0.082 314.2);
  --purple-1000: oklch(12.0% 0.0533 314.2);
}
