:root {
  --red-50: #ffe6e6;
  --red-60: #ffdbdb;
  --red-70: #ffd0d0;
  --red-80: #ffc6c6;
  --red-90: #ffbbbb;
  --red-100: #ffb0b0;
  --red-200: #ff8a8a;
  --red-300: #ff5454;
  --red-400: #ff3333;
  --red-500: #ff0000;
  --red-600: #e80000;
  --red-700: #b50000;
  --red-800: #8c0000;
  --red-900: #6b0000;
  --red-950: #531c1d;
}
