:root {
  --shade-10: oklch(99.0% 0.004 300.0);
  --shade-20: oklch(98.3% 0.005 300.0);
  --shade-30: oklch(97.7% 0.006 300.0);
  --shade-40: oklch(97.0% 0.006 300.0);
  --shade-50: oklch(95.5% 0.007 300.0);
  --shade-60: oklch(93.5% 0.008 300.0);
  --shade-70: oklch(91.5% 0.009 300.0);
  --shade-80: oklch(89.5% 0.01 300.0);
  --shade-90: oklch(87.5% 0.01 300.0);
  --shade-100: oklch(85.5% 0.011 300.0);
  --shade-200: oklch(78.0% 0.012 300.0);
  --shade-300: oklch(67.0% 0.013 300.0);
  --shade-400: oklch(61.0% 0.013 300.0);
  --shade-500: oklch(51.0% 0.013 300.0);
  --shade-600: oklch(47.0% 0.013 300.0);
  --shade-700: oklch(38.0% 0.012 300.0);
  --shade-800: oklch(30.0% 0.011 300.0);
  --shade-900: oklch(24.0% 0.01 300.0);
  --shade-910: oklch(22.0% 0.01 300.0);
  --shade-920: oklch(19.5% 0.009 300.0);
  --shade-930: oklch(16.5% 0.008 300.0);
  --shade-940: oklch(14.0% 0.007 300.0);
  --shade-950: oklch(13.0% 0.007 300.0);
  --shade-1000: oklch(11.0% 0.006 300.0);
}
